/* 初期化 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
}

header{
  text-align: center;
  background-color: rgb(6, 190, 190);
}

.app {
  background-color: black;
  height: 100vh;
}

.taskCard{
  width: 250px;
  padding: 10px 20px;
  margin: 30px;
  background-color: rgba(240, 248, 255, 0.808);
  border-radius: 5px;
}

.taskTitleInputArea{
  width: 30%;
  margin-bottom: 10px;
  cursor: pointer;
}

.taskTitleInput{
  width: 80px;
  padding: 4px 6px;
  outline: none;
}

.taskAddInput{
  font: 1.3rem;
  width: 100%;
  border-radius: 5px;
  padding: 10px 5px;
  outline: none;
  border: none
}