/* 初期化 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
}

header{
  text-align: center;
  background-color: rgb(6, 190, 190);
}

body {
  background: linear-gradient(45deg, #0D0D0D, #1D1F1F, #212626, #4D4D4D);
  background-size: 800% 800%;
  animation: GradientBackground 10s ease infinite;
}

@keyframes GradientBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
};

.app {
  background-color: black;
  height: 100vh;
}

.taskCard{
  width: 250px;
  padding: 10px 20px;
  margin: 30px;
  background-color: rgba(240, 248, 255, 0.808);
  border-radius: 5px;
}

.taskTitleInputArea{
  width: 30%;
  margin-bottom: 10px;
  cursor: pointer;
}

.taskTitleInput{
  width: 80px;
  padding: 4px 6px;
  outline: none;
}

.taskAddInput{
  font: 1.3rem;
  width: 100%;
  border-radius: 5px;
  padding: 10px 5px;
  outline: none;
  border: none
}

.taskBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  margin: 15px 0px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.301);
}

.taskText{
  margin-left: 5px;
}

.taskTrash{
  cursor: pointer;
  margin-right: 5px;
  border: none;
}

.taskCardsArea{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.addTaskCardButtonArea{
  margin-left: -1%;
  margin-top: 30px;
}

.addTaskCardButton{
  padding: 5px 9px;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.733);
  cursor: pointer;
}

.taskCardTitleAndTaskCardDeleteButton{
  display: flex;
  justify-content: space-between;
}

.taskCardDeleteButton{
  border: none;
  color: red;
  background-color: rgba(240, 248, 255, 0);
  font-size: 23px;
  cursor: pointer;
}